@import "./fonts.scss";
@import "./mixins.scss";
@import "./variables.scss";
@import "./bootstrap.css";
@import "../scss/bases/competences";
@import "../scss/bases/contact";
@import "../scss/bases/diplomeXformations";
@import "../scss/bases/experiences";
@import "../scss/bases/footer";
@import "../scss/bases/header";
@import "../scss/bases/last";
@import "../scss/bases/nav";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $titre;
}

body {
    overflow-x: hidden;
}

.separation {
    background: linear-gradient(90deg, #ff00e6 0%, #00ffff 100%);
}

.separation2 {
    background: linear-gradient(90deg, #00ffff 0%, #ff00e6 100%);
}

@media (max-width: 1000px) {

    .container-contact {
        form {
            min-width: 100%;
            padding: 0;
            margin: 0;

            input {
                padding: 0;
                margin: 0;
                width: 100%;
            }
        }
    }

    .plus {
        .container-img {
            display: block;
        }
    }

    .competences {
        .cartes {
            .carte {
                margin: 20px 0px;
            }
            
        }
    }

    .formations {
        .container {
            height: 60vh;
        }
    }

    .contact {
        display: block;
        .rotation {
            min-width: 100%;
            .last-element {
                .box {
                    min-width: 100%;
                }
            }
        }
    }
}
