.container-contact {
    background-color: $bg-color;
    color: white;
    padding: 50px;
    align-items: center;
    text-align: center;

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    form {
        border-radius: 10px;
        margin: auto;
        border: 4px solid white;
        max-width: 40%;
        padding: 10px;
        background-color: black;

        .item {
            margin: 20px;
            display: flex;
            flex-direction: column;

            label {
                display: flex;
                margin: 10px;
            }

            input {
                border-radius: 40px;
                border: 4px solid white;
                background: black;
                min-width: 100%;
                height: 40px;
                font-size: larger;
                padding: 20px;
                color: white;
            }
        }

        .submit-input {
            text-align: center;

            .submit {
                padding: 10px;
                background-color: black;
                color: white;
                border-radius: 10px;
                border: 2px solid white;
                text-align: center;

                &:hover {
                    background-color: white;
                    color: black;
                }
            }
        }
    }

    textarea {
        border-radius: 40px;
        border: 4px solid white;
        background: black;
        min-width: 100%;
        height: 40px;
        font-size: larger;
        padding: 40px;
        color: white;
        overflow: hidden;
    }
}
