.plus {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    padding: 20px;

    h3 {
        padding: 10px;
        margin: 20px;
    }

    .container-img {
        margin: auto;
        display: flex;
        flex-direction: row;

        .item {
            margin: 20px;

            span {
                display: block;
                font-size: x-large;
            }

            img {
            max-width: 100%;
            margin: auto;

                &:hover {
                    filter: blur(5px);
                }
            }
        } 
    }
}
