.navbar {
    position: sticky;
    border: 2px solid white;
    border-radius: 10px;
    
    a:hover {
        background-color: black;
        border: 2px solid white;
        border-radius: 16px;
    }
            
    a:active {
        background-color: #0081a1;
    }  
}

